<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="eBankingV1">
    <test name="eBankingApp Test">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="testCases.LoginTest" />
        </classes>
    </test>
</suite>
